<h1 class='title'>Registrar</h1>

<form class='form' action="/register" method='post'>
  <div class="input-container">
    <label class='form__label' for="name">Nome:</label>
    <input class='form__input' type="text" name='name' placeholder='Digite o seu nome' required>
  </div>

  <div class="input-container">
    <label class='form__label' for="email">Email:</label>
    <input class='form__input' type="type" name='email' placeholder='Digite o seu email' required>
  </div>

  <div class="input-container">
    <label class='form__label' for="password">Senha:</label>
    <input class='form__input' type="password" name='password' placeholder='Digite sua senha' required>
  </div>

  <div class="input-container">
    <label class='form__label' for="Confirmpassword">Senha:</label>
    <input class='form__input' type="password" name='confirmpassword' placeholder='Confirme sua senha' required>
  </div>

  <div class="input-container">
    <button class='form__button'>Registrar</button>
  </div>

  <p class='form__link'>Já possui uma conta? <a href="/login">Ir para Login</a></p>
</form>